<!DOCTYPE html>
<html>
<head>
	<title>Blog</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= favicon_link_tag 'favicon.ico' %>
	<%= csrf_meta_tags %>


	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Simple Sidebar - Start Bootstrap Template</title>

	

</head>
<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">Mongoose Labs</a>
                </li>
				<li><%= link_to "Blog", root_path %></li>
				<li><%= link_to "About", about_path %></li>  <!--how to link to pages -->
				<li><%= link_to "Summer programs", summerprograms_path %></li>
				<li><%= link_to "Educational Tools", edtools_path %></li>
				<li><%= link_to "College Research Tools", collegeresearchtools_path %></li>
				<li><%= link_to "College Bound Programs", collegebound_path %></li>
				<li><%= link_to "College Planning Tools", planningtools_path %></li>

				<% if user_signed_in? %>
					<div class="buttons">
						<button class="button"><%= link_to "New Post", new_post_path %></button>
						<button class="button"><%= link_to "Log Out", destroy_user_session_path, method: :delete %></button>
					</div>
					
				<% end %>
	        </ul>
	        <div>
	        	<% if !user_signed_in? %>
					<p class="sign_in"><%= link_to "Admin Login", new_user_session_path %></p>
				<% end %>
	        </div>
	            
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-4">
                        <a href="#menu-toggle" class="button main-menu" id="menu-toggle">Menu</a>
                    </div>

                    <div class="col-xs-4">
						<% if current_page?(root_path) %>
							<p>All Posts</p>
						<% elsif current_page?(about_path) %> <br>
							
						<% else %>
							<%= link_to "Back to All Posts", root_path %>
						<% end %>

						
					</div>

					<% flash.each do |name, msg| %>
						<%= content_tag(:div, msg, class: "alert") %>
					<% end %>

					<%= yield %>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->



        <!-- Footer -->
        <div id="content-wrapper">

			<div class="site">
	      
	      		<%= render 'layouts/footer' %>
	      	</div>
	    </div>


        <!-- #footer-->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>